.libre-franklin{
    font-family: 'Libre Franklin', sans-serif;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.comfortaa{
    font-family: 'Comfortaa', cursive;
}
.img{
    height:280px;
    width:295px;
}